[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
	branch = 3.3-stable
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
	branch = master
